{% extends "core/base.html" %}
{% load static %}
{% load userChecks %}
{% block content %}

    <div class="container">
        <main>
            <h1>Your Dashboard</h1>
{#            <p>Here's your custom voter registration page: <a href="{% url 'page' pageOwner.volunteer.slug %}">{{request.get_host}}{% url 'page' pageOwner.volunteer.slug %}</a></p>#}


            <p>Send your voter registration link to anyone in your network who you think needs to check their voter registration! Think about everyone you could reach out to&mdash;friends, family, coworkers, people in your faith community or neighbors!</p>

            <p>Copy and paste this message to reach out to 10 of your friends in a DM or text:</p>
            <div class="border rounded p-3 mb-2">
                <p class="copy">Hey! We’re getting so close to this election. I wanted to make sure you've double checked your voter registration — it’ll take 7 minutes tops! <a href="{% url 'page' pageOwner.volunteer.slug %}">{{request.get_host}}{% url 'page' pageOwner.volunteer.slug %}</a></p>
            </div>
            <div>
                <button class="copybtn button small mb-0">Copy Text</button>
                <span class="copymsg"></span>
            </div>
            <script>var copyEmailBtn = document.querySelector('.copybtn');
copyEmailBtn.addEventListener('click', function(event) {
  // Select the email link anchor text
  var text = document.querySelector('.copy');
  var range = document.createRange();
  range.selectNode(text);
  window.getSelection().addRange(range);
var msg = document.querySelector('.copymsg');
  try {
    // Now that we've selected the anchor text, execute the copy command
    var successful = document.execCommand('copy');
    var message = successful ? 'Copied!' : 'Something went wrong, try copying manually';
    msg.innerHTML=message;
  } catch(err) {
    msg.innerHTML='Something went wrong, try copying manually';
  }

  // Remove the selections - NOTE: Should use
  // removeRange(range) when it is supported
  window.getSelection().removeAllRanges();
});</script>

            <p class="my-4">You have currently registered {{ pageOwner.volunteer.reg }}/10 voters.</p>
            <div class="progress" style="height: 2em;">
              <div class="progress-bar" role="progressbar" style="width: {{ pageOwner.volunteer.reg }}0%; background-color: #ff2846;font-size: 1.5em;font-weight: bold;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ pageOwner.volunteer.reg }}</div>
            </div>
{#            <p><a href="https://www.facebook.com/sharer/sharer.php?u=https://myschoolvotes.whenweallvote.org/{{ pageOwner.volunteer.slug }}&amp;quote={{ pageOwner.first_name }}%20has%20registered%202%20voters%20so%20far! #MySchoolVotes">Share on Facebook</a></p>#}
{#            <p><a href="https://twitter.com/intent/tweet?text={{ pageOwner.first_name }}%20has%20registered%202%20voters%20so%20far!%20%23MySchoolVotes%0Ahttps%3A%2F%2Fmyschoolvotes.whenweallvote.org%2F{{ pageOwner.volunteer.slug }}">Share on Twitter</a></p>#}

{##}
{#        <h3>Outvote</h3>#}
{#        {% if request.user|user_has_phone %}#}
{#            <p>You have texted {{ pageOwner.volunteer.outvote_texts }} people in the WWAV campaign on Outvote.</p>#}
{##}
{#            <p>Not working right? Syncing data from Outvote can take up to a day. <a href="{% url 'outvote' %}">Check your phone number on file</a></p>#}
{##}
{#        {% else %}#}
{#    <p><a href="{% url 'outvote' %}">Connect your Outvote Account</a></p>#}
{#        {% endif %}#}

        </main>
    </div>


{% endblock content %}

