{% extends "core/base.html" %}
{% load static %}
{% load userChecks %}
{% block content %}

    <div class="container">
        <main>
            <h1>Your Dashboard</h1>
            <div class="row">
                <div class="col-md">
                    <h4>Voters Registered</h4>

                    <p class="my-4">
                        You have registered <strong>{{ pageOwner.volunteer.reg }}</strong>
                        voters with your custom link.
                        (Registration data may take a full day to update.)
                        <a href="{% url 'friends' %}">Share your link with more friends!</a>
                    </p>
                </div>
            </div>
            <div class="progress" style="height: 2em;">
                <div class="progress-bar" role="progressbar"
                     style="width: {{ pageOwner.volunteer.reg }}0%; background-color: #ff2846;font-size: 1.5em;font-weight: bold;"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ pageOwner.volunteer.reg }}</div>
            </div>


            {#            <p><a href="https://www.facebook.com/sharer/sharer.php?u=https://myschoolvotes.whenweallvote.org/{{ pageOwner.volunteer.slug }}&amp;quote={{ pageOwner.first_name }}%20has%20registered%202%20voters%20so%20far! #MySchoolVotes">Share on Facebook</a></p>#}
            {#            <p><a href="https://twitter.com/intent/tweet?text={{ pageOwner.first_name }}%20has%20registered%202%20voters%20so%20far!%20%23MySchoolVotes%0Ahttps%3A%2F%2Fmyschoolvotes.whenweallvote.org%2F{{ pageOwner.volunteer.slug }}">Share on Twitter</a></p>#}
            <br>
            <div class="row">
                <div class="col-md">
                    <h4>Vote by Mail</h4>

                    <p class="my-4">
                        So far, <strong>{{ pageOwner.volunteer.vbm_users }}</strong> {{ pageOwner.volunteer.vbm_users|pluralize:"person has,people have" }}
                        clicked on your link.
                        (Data may take a full day to update.)
                        <a href="{% url 'friends' %}#vbm">Share your link with more friends!</a>
                    </p>

                    <hr class="my-2 mb-2">
                </div>
            </div>

            <div class="row">

                <div class="col-md mb-5">
                    <h4 class="mt-4">Texting</h4>
                    <p>You have sent <strong>{{ pageOwner.volunteer.outvote_texts }}</strong> text{{ pageOwner.volunteer.outvote_texts|pluralize }} so
                        far in the WWAV
                        campaign on Outvote.</p>
                    <p>Syncing data from Outvote can take up to a day. Still not right?
                        <a href="{% url 'update' %}" class="font-weight-bold">Check or update your account phone number.</a>
                    </p>
                    {% if pageOwner.volunteer.outvote_texts == 0 %}
                        <p>Not involved with texting? </p>
                        <a href="https://whenweallvote.org/texting/" target="_blank" class="button small">Join our
                            texting team!</a>
                    {% else %}
                        <h4>Invite Your Friends</h4>
                        <a class="font-weight-bold text-decoration-none"
                           href="https://twitter.com/intent/tweet?text=I%27ve%20sent%20{{ pageOwner.volunteer.outvote_texts }}%20texts%20so%20far%20with%20When%20We%20All%20Vote%21%20Join%20me%20at%20{{ request.get_host }}{% url 'signup' %}." target="_blank">
                            <div class="border rounded p-2 mb-2 d-flex justify-content-start align-items-center">
                                <i class="fab fa-twitter icon-fa fa-2x ml-4 mr-5"><span
                                        class="sr-only">Twitter</span></i>
                                Share your achievement on Twitter!

                            </div>
                        </a>
                        <a class="font-weight-bold text-decoration-none"
                           href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}{% url 'signup' %}&quote=I%27ve%20sent%20{{ pageOwner.volunteer.outvote_texts }}%20texts%20so%20far%20with%20When%20We%20All%20Vote%21%20Join%20me%20at%20{{ request.get_host }}{% url 'signup' %}." target="_blank">
                            <div class="border rounded p-2 mb-2 d-flex justify-content-start align-items-center">

                                <i class="fab fa-facebook icon-fa fa-2x ml-4 mr-5"><span class="sr-only">Facebook</span></i>
                                Share your achievement on Facebook!
                            </div>

                        </a>

                    {% endif %}

                </div>
                <div class="col-md">

                    <h4 class="mt-4">Leaderboard</h4>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th scope="col">Texts</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in outvote_leaderboard %}
                            <tr {% if request.user.volunteer == row %}class="table-active"{% endif %}>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ row.user.first_name }} <span class="badge badge-pill badge-primary"
                                                                    style="background-color:#ff2846;">{{ row.user|get_tier:'name' }}</span>
                                </td>
                                <td>{{ row.outvote_texts }}</td>
                            </tr>
                        {% endfor %}
                        {% if request.user.volunteer not in outvote_leaderboard %}
                            <tr class="table-active">
                                <th scope="row">{{ rank }}</th>
                                <td>{{ request.user.first_name }} <span class="badge badge-pill badge-primary"
                                                                        style="background-color:#ff2846;">{{ request.user|get_tier:'name' }}</span>
                                </td>
                                <td>{{ request.user.volunteer.outvote_texts }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h4>Status</h4>
                    <p>
                        Your current volunteer level: <strong>{{ request.user|get_tier:'name' }}</strong>
                    </p>
                    <p>Send more texts to get to the next level!</p>
                    <p class="text-right">Next Goal: <strong>{{ request.user|get_tier:'goal' }}</strong></p>
                </div>
            </div>
            <div class="progress" style="height: 2em;">
                <div class="progress-bar" role="progressbar"
                     style="width: {{ request.user|get_tier_progress }}%; background-color: #ff2846;font-size: 1.5em;font-weight: bold;"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ request.user|get_tier_progress }}%
                </div>
            </div>
            <hr class="my-5">
            <h4>ActBlue</h3>
            <p><a href="https://secure.actblue.com/donate/when-we-all-vote?refcode=vcc" class="button text-decoration-none" target="_blank">Donate to WWAV</a></p>

            {% if request.user.volunteer.actblue_email %}
                <p >Your total donations to When We All Vote: </p>
                <h1 class="text-center display-4"><strong>${{ request.user.volunteer.actblue_donations }}</strong></h1>
                <p>Syncing data from ActBlue can take up to a day. Still not right?
                        <a href="{% url 'actblue' %}" class="font-weight-bold">Check or update your ActBlue email.</a>
                    </p>
            {% else %}
                <a href="{% url 'actblue' %}" class="font-weight-bold button text-decoration-none">Connect your ActBlue Account</a>

            {% endif %}




        </main>
    </div>


{% endblock content %}

