{% extends "core/base.html" %}
{% load static %}
{% block content %}


    <div class="container">
        <main>

            <div class="my-5">
                {% if user.is_authenticated %}
                    {% if priorities.exists %}
                    <h1>Volunteer priorities for this week:</h1>

                    {% for priority in priorities %}
                        <p class="lead"><strong>{{ forloop.counter }}.</strong> {{ priority.desc }} {% if priority.link %}<a href="{{ priority.link }}">{{ priority.link }}</a>{% endif %}</p>
                    {% endfor %}

                    {% endif %}
                    <h1>Upcoming Events</h1>
                    <iframe src="https://www.mobilize.us/embed/whenweallvote/feed/" style="border: none; overflow: hidden; height: 6483px;" width="100%" id="mobilize-feed-iframe" scrolling="no"></iframe>
                {% else %}
                    <!-- You'll never see this because you were redirected to signup -->
                {% endif %}
            </div>


        </main>
    </div>



{% endblock content %}

