{% extends "core/base.html" %}
{% load static %}
{% block content %}


    <div class="container">
        <main>
            <div class="text-center">
            <h1>Volunteer Command Center</h1>
                <div class="my-5">
                {% if user.is_authenticated %}
            <h4>Welcome {{ request.user.first_name }}</h4>
            <p>Go to your <a href="{% url 'dashboard' %}">dashboard</a></p>
                {% else %}
            <a href="{% url 'signup' %}" class="button" >Enter Voter Registration Challenge</a>

                {% endif %}
                </div>

            </div>



        </main>
    </div>



{% endblock content %}

