{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="container">
        <main>
            <h1>Get Registered to Vote</h1>
            <h3>Register to vote or update your voter registration below. It will take 7 minutes tops!</h3>

            <h5 class="my-5">Page created by {{ pageOwner.first_name }} {{ pageOwner.last_name }}</h5>
            <p>{{ pageOwner.first_name }} has registered {{ reg }} voters so far, and {{ pageOwner.volunteer.reg_started }} others have started but haven't completed the process yet.</p>
{#            <iframe id="rtv-iframe" width="100%" height="600px" frameborder="0" src="https://register.rockthevote.com?partner=37284&amp;tracking=Mob_2020_VR_MO-Contest_{{ pageOwner.volunteer.slug }}" scrolling="no" style="overflow: hidden; height: 642px;"></iframe>#}
            <script type="text/javascript" src="https://register.rockthevote.com/assets/rtv-iframe.js"></script>
            <script type="text/javascript">
                RtvIframe.init({
                  partner: 37284,
                    {% if pageOwner.volunteer.tracking == "ads" %}
                    tracking: "ads_Mob_2020_VR_MO-Contest_{{ pageOwner.volunteer.slug }}",
                    {% else %}
                    tracking: "Mob_2020_VR_MO-Contest_{{ pageOwner.volunteer.slug }}",
                    {% endif %}

                })
            </script>
        </main>
    </div>

{% endblock content %}

