{% extends "core/base.html" %}
{% load static %}


{% block meta %}
    <meta itemprop="name" content="Register to Vote with {{ pageOwner.first_name }}">
    <meta name="twitter:title" content="Register to Vote with {{ pageOwner.first_name }}">
    <meta name="og:title" content="Register to Vote with {{ pageOwner.first_name }}">
    <meta name="og:site_name" content="Register to Vote with {{ pageOwner.first_name }}">

    <meta name="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'core/register.jpg' %}">
    <meta name="twitter:player" content="{{ request.scheme }}://{{ request.get_host }}{% static 'core/register.jpg' %}">
    <meta itemprop="image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'core/register.jpg' %}">
    <meta name="image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'core/register.jpg' %}">
{% endblock %}


{% block content %}

    <div class="container">
        <main>
            <h1>Get Registered to Vote</h1>
            <h3>Register to vote or update your voter registration below. It will take 7 minutes tops!</h3>

            <h5 class="my-5">Page created by {{ pageOwner.first_name }} {{ pageOwner.last_name }}</h5>
            <p class="lead">{{ pageOwner.first_name }} has registered <strong>{{ reg }}</strong> voters so far!</p>
            {#            <iframe id="rtv-iframe" width="100%" height="600px" frameborder="0" src="https://register.rockthevote.com?partner=37284&amp;tracking=Mob_2020_VR_MO-Contest_{{ pageOwner.volunteer.slug }}" scrolling="no" style="overflow: hidden; height: 642px;"></iframe>#}
            <script type="text/javascript" src="https://register.rockthevote.com/assets/rtv-iframe.js"></script>
            <script type="text/javascript">
                RtvIframe.init({
                    partner: 37284,
                    tracking: "vcc_{{ pageOwner.volunteer.slug }}",

                })
            </script>
        </main>
    </div>

{% endblock content %}

