{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    {#<form method="post">#}
    {#  {% csrf_token %}#}
    {#  {% for field in form %}#}
    {#    <p>#}
    {#      {{ field.label_tag }}<br>#}
    {#      {{ field }}#}
    {#      {% if field.help_text %}#}
    {#        <small style="color: grey">{{ field.help_text }}</small>#}
    {#      {% endif %}#}
    {#      {% for error in field.errors %}#}
    {#        <p style="color: red">{{ error }}</p>#}
    {#      {% endfor %}#}
    {#    </p>#}
    {#  {% endfor %}#}
    {#  <button type="submit">Sign up</button>#}
    {#</form>#}



    <div class="container">
        <main>
            <div class="text-center">
{#            <h1>Volunteer Command Center</h1>#}


            </div>
<div class="my-5">
                {% if user.is_authenticated %}
            <h4>Welcome {{ request.user.first_name }}</h4>
            <p>Go to your <a href="{% url 'dashboard' %}">dashboard</a></p>
                {% else %}
                    <h4>Pledge to register 10 eligible voters for a chance to (virtually) hang out with Michelle Obama and Selena Gomez! Follow the easy steps below to get started:</h4>
            <ol>
                <li>Sign up below with a username and password so you can check back on our site and see who actually registered to vote! </li>
                <li>After you sign up, you'll get your own voter registration link.</li>
                <li>Then text or DM 10 friends the link! These should be people who may need to check their voter registration.</li>
                <li>Check back on this site to see which of your friends check their registration.</li>
            </ol>

                    <div class="signup-form">
            {% crispy form %}
                        <p class="small">Click <a href="https://www.whenweallvote.org/hangout-with-michelle-obama-contest-rules/" target="_blank">here</a> to see full contest rules.</p>

                </div>

                {% endif %}
                </div>


        </main>
    </div>



{% endblock content %}

